
=f.file_field :photo  or image URL
= f.text_field :photo
%p
  Name:
  %br/
  = f.text_field :name
%p
  Email:
  %br/
  = f.text_field :email
%p
  OfficeNumber:
  %br/
  = f.text_field :office_no
%p
  = f.submit